body{
    margin: 0;
    padding: 0;
    background: url("/static/assets/images/background-large.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Sniglet', 'Comfortaa', cursive;
    
}

@media (max-width: 600px) { /* Change the image on small screens so its not stretched*/
  body {
    background: url("/static/assets/images/background-small.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
  }
}

/*Buttons CSS */
@keyframes link-backgrounds {
  from {background-color: white;}
  to {background-color: #F09819;}
  
}

.btn{
    color: #FFC107;
    background: white;
    border: solid #FFC107 5px;
    font-weight: bold;
    border-radius: 40px;
    
}

.btn:hover{
    animation-name: link-backgrounds;
    animation-duration: 4s;
    color: white;
    
}

/* Navbar CSS */
.navbar-nav{
    flex-direction: row;
    
}

.social-icon{
    margin-right: 40px;
    display: inline-block;
    color: #FDFDFF;
    border: none;
    background-color: #FFC107;
    font-size: x-large;

}

.social-icon:hover{
    color: #F09819;
    
}

@media (max-width:500px) {
.social-icons{
    width: 26px;
    
} 
}

/*Main Heading*/
#imageInnerText{ 
    margin-top: 30vh;
    font-weight: bold;
    font-size: xx-large;
    
}

/*Modal CSS */
.modalTitle{
    color: black;
  
}

.close{
    margin: 10px 20px 0 0;
    
}

h1 {
    font-size: x-large;
        
}

h2 {
    font-size: large;
        
}

#modal-info-body{
    padding-left: 14px;
    
}

#orTagLine{/*Horizontal Style Rule */
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid #000; 
    line-height:0.1em; 
    margin-top:28px;
    
}

#orTag{ /* The "OR" text in the #orTagLine*/
    background:#fff; 
    color: black;
    
}

.pac-container { /*Need this value so the autocomplete dropdown is not hidden in background*/
     z-index: 1050 !important;
     
}

/*Hidden Div Section*/
.hiddenDiv{
    display: none;
    margin-top: 50px;
    padding: 50px;
    border:10px solid #FFC107;
    background-image: linear-gradient(to right, #1A2980, #26D0CE);
    
}

.hiddenDivInner{ /*Hidden Div Headings*/
    font-weight: bold;
    font-size: x-large;
    
}

#weather{
    font-weight: bold;
    font-size: xx-large;
  
}

#border{
    border-bottom: solid #FFC107 5px;
    margin-bottom: 20px;
    padding-bottom: 26px;
  
}


#refreshMap{ /*Additional button style*/
    margin-bottom: 20px;  
  
}

/*Map Style*/
#map {
    min-height: 500px;
    
}

#infoWindowHeader{ /*Header style of map infowindow, add to html when icon clicked*/
    color: black;
    font-weight: bold;
  
}

.gm-style-iw{ /*Content of infowindow*/
    color:black;
  
}













