.container-fluid {
    margin: 0;
    padding: 0;
}

body{
    background: url("/static/assets/images/jason-cooper-482297-unsplash.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    
}

#imageInnerText{
    padding-top: 10%;
    font-weight: bold;
    color: white;
    font-size: xx-large;
    
}

#imageInnerButton{
    font-weight: bold;
    background-color: white;
    border-radius: 40px;
    
}

.btn{
    color: orange;
    background: white;
    border: solid orange 5px;
        
}

.btn:hover{
    animation-name: link-backgrounds;
    animation-duration: 4s;
    color: orange;
}

@keyframes link-backgrounds {
  from {background-color: white;}
  to {background-color: purple;}
}

div.pac-container {
   z-index: 1050 !important;
}


#map {
    min-height: 500px;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    
    #map {
        min-height: 650px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        min-height: 760px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        min-height: 600px;
}
}