/*-- HTML and Body --*/
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#map {
    min-height: 500px;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    
    #map {
        min-height: 650px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        min-height: 760px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        min-height: 600px;
}
}